PyQt5==5.15.6

# Pathed version of the openlimelineio python package
# (requires cmake installed to build)
git+https://github.com/michalfapso/OpenTimelineIO

cython==3.0.6  # cython is required for madmom, newer version gave an error with numpy.math.INFINITY
numpy==2.2.6   # numpy is required for madmom
madmom==0.16.1
